html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #424242;
}

#main_container {
    display: flex;

    width: 100vw;
    height: 100vh;

}

#main_sidebar {
    background-color: #212121;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
}

#main_content {
    padding: 5%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    background-color: #424242;
}

#sidebar_title {
    font-family: monospace;
    margin: 10%;
    color: #E0E0E0;
    text-align: center;
}

.sidebar_item {
    margin: 8%;
    padding: 5%;
    border: none;
    background-color: #616161;
    cursor: pointer;
    border-radius: 5px;
}

.content_section
{
margin: 1%;
padding: 1%;
background-color: #212121;
}

#content_title {
    color: #E0E0E0;
    font-size: 32px;
    text-align: center;
}

#content_text {
    color: #E0E0E0;
}